---
- name: Ensure apache packages are installed
  apt:
    pkg: "{{ apache24_packages }}"
    state: present
    cache_valid_time: 600

- name: Install libapache2-mod-proxy-uwsgi if necessary
  apt:
    pkg: libapache2-mod-proxy-uwsgi
    state: present
  when: "'proxy_uwsgi' in apache24_modules + apache24_modules_extra"

- name: Ensure basic configs are latest
  template:
    src: apache2/{{ item }}.j2
    dest: /etc/apache2/{{ item }}
    owner: root
    group: root
    mode: 0644
  with_items:
    - apache2.conf
    - ports.conf
  notify: Restart apache2

- name: Ensure available module configs are latest
  template:
    src: apache2/mods-available/{{ item }}.j2
    dest: /etc/apache2/mods-available/{{ item }}
    owner: root
    group: root
    mode: 0644
  with_items:
    - ssl.conf
  notify: Restart apache2

- name: Ensure available mpm module config is latest
  template:
    src: apache2/mods-available/mpm_worker.conf.j2
    dest: /etc/apache2/mods-available/mpm_{{ apache24_mpm }}.conf.j2
    owner: root
    group: root
    mode: 0644
  notify: Restart apache2

- name: Ensure custom module configs are latest
  copy:
    src: "apache2/mods-available/{{ item }}"
    dest: "/etc/apache2/mods-available/{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ apache24_custom_modules }}"
  notify: Restart apache2

- name: Disable unused mpm modules
  file:
    path: "/etc/apache2/mods-enabled/{{ item }}.load"
    state: absent
  with_items:
    - "{{ 'mpm_event' if apache24_mpm != 'event' else omit }}"
    - "{{ 'mpm_prefork' if apache24_mpm != 'prefork' else omit }}"
    - "{{ 'mpm_worker' if apache24_mpm != 'worker' else omit }}"

- name: Disable unused mpm module config
  file:
    path: /etc/apache2/mods-enabled/{{ item }}.conf
    state: absent
  with_items:
    - "{{ 'mpm_event' if apache24_mpm != 'event' else omit }}"
    - "{{ 'mpm_prefork' if apache24_mpm != 'prefork' else omit }}"
    - "{{ 'mpm_worker' if apache24_mpm != 'worker' else omit }}"

- name: Enable mpm module
  community.general.apache2_module:
    name: "mpm_{{ apache24_mpm }}"
    state: present
    ignore_configcheck: True
  notify: Restart apache2

- name: Enable modules
  community.general.apache2_module:
    name: "{{ item }}"
    state: present
  with_items: "{{ apache24_modules + apache24_modules_extra }}"
  notify: Restart apache2

- name: Ensure apache2 modules for stretch or later are present
  community.general.apache2_module:
    name: "{{ item }}"
    state: present
  with_items:
    - "http2"
  when: ansible_distribution_major_version|int >= 9
  notify: Restart apache2

- name: Disable modules
  community.general.apache2_module:
    name: "{{ item }}"
    state: absent
  with_items: "{{ apache24_disabled_modules }}"
  notify: Restart apache2

- name: Disable default-ssl apache site
  file:
    path: /etc/apache2/sites-enabled/000-default-ssl.conf
    state: absent
  notify: Restart apache2

- name: Ensure localhost only vhost is absent
  file:
    path: "/etc/apache2/sites-{{ item }}/00_localhost.conf"
    state: absent
  with_items:
    - enabled
    - available

- name: Ensure apache additional config files are latest
  template:
    src: "apache2/conf-available/{{ item }}"
    dest: "/etc/apache2/conf-available/{{ item }}"
    owner: root
    group: root
    mode: 0644
  with_items:
    - "{{ apache24_custom_configs }}"
  notify: Restart apache2

- name: Ensure apache additional config files are present
  file:
    src: "/etc/apache2/conf-available/{{ item }}"
    dest: "/etc/apache2/conf-enabled/{{ item }}"
    state: link
  with_items:
    - "{{ apache24_custom_configs + apache24_configs }}"
  when: not ansible_check_mode
  notify: Restart apache2

- name: Ensure apache directories are present
  file:
    path: "/etc/apache2/{{ item }}"
    owner: root
    group: root
    mode: 0755
    state: directory
  with_items:
    - includes

- name: Import task vhost
  import_tasks: vhost.yml
  tags: vhost
