---

- name: install apache2 vhost config files
  copy:
    src: "{{ item }}"
    dest: /etc/apache2/sites-available/
    owner: root
    group: root
    mode: 0644
  with_fileglob: "apache2/sites-available/*.conf"
  notify:
    - restart apache

- name: enable apache2 vhosts
  file:
    src: "/etc/apache2/sites-available/{{ item|basename }}"
    dest: "/etc/apache2/sites-enabled/{{ item|basename }}"
    state: link
    owner: root
    group: root
  with_fileglob: "apache2/sites-available/*.conf"
  notify:
    - restart apache
